* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'D-DINExp';
    src: url('../fonts/D-DINExp.woff2') format('woff2'),
        url('../fonts/D-DINExp.ttf') format('truetype'),
        url('../fonts/D-DINExp.otf') format('opentype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'D-DINExp';
    src: url('../fonts/D-DINExp-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'D-DINExp';
    src: url('../fonts/D-DINExp-Italic.woff2') format('woff2'),
        url('../fonts/D-DINExp-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

:root {
    --bg: #000A0F;
    --sidebar_bg: #0B1417;
    --font: 'D-DINExp', -apple-system, BlinkMacSystemFont, sans-serif;
    --font-mono: 'D-DINExp', monospace;
    /* ==========================================
     Primary (Green)
  ========================================== */
    --color-primary-100: rgba(35, 176, 91, 20%);
    --color-primary-200: rgba(35, 176, 91, 40%);
    --color-primary-300: rgba(35, 176, 91, 60%);
    --color-primary-400: rgba(35, 176, 91, 80%);
    --color-primary-500: rgba(35, 176, 91, 100%);
    --color-primary-600: #1C8D49;
    --color-primary-700: #156A37;
    --color-primary-800: #0E4624;
    --color-primary-900: #072312;

    /* ==========================================
     Secondary (Dark Blue )
  ========================================== */
    --color-secondary-100: rgba(0, 48, 73, 20%);
    --color-secondary-200: rgba(0, 48, 73, 100%);
    --color-secondary-300: rgba(0, 48, 73, 60%);
    --color-secondary-400: rgba(0, 48, 73, 80%);
    --color-secondary-500: rgba(0, 48, 73, 100%);
    --color-secondary-600: #00263A;
    --color-secondary-700: #001D2C;
    --color-secondary-800: #00131D;
    --color-secondary-900: #000A0F;

    /* Dark Secondary */
    --color-secondary-dark-100: rgba(53, 102, 116, 10%);
    --color-secondary-dark-200: rgba(53, 102, 116, 40%);
    --color-secondary-dark-300: rgba(53, 102, 116, 60%);
    --color-secondary-dark-400: rgba(53, 102, 116, 80%);
    --color-secondary-dark-500: rgba(53, 102, 116, 100%);
    --color-secondary-dark-600: #2A525D;
    --color-secondary-dark-700: #203D46;
    --color-secondary-dark-800: #15292E;
    --color-secondary-dark-900: #0B1417;

    /* ==========================================
     Neutral
  ========================================== */
    --color-neutral-100: rgba(233, 231, 221, 20%);
    --color-neutral-200: rgba(233, 231, 221, 40%);
    --color-neutral-300: rgba(233, 231, 221, 60%);
    --color-neutral-400: rgba(233, 231, 221, 80%);
    --color-neutral-500: rgba(233, 231, 221, 100%);
    --color-neutral-600: #BAB9B1;
    --color-neutral-700: #F6F5F1;
    --color-neutral-800: #5D5C58;
    --color-neutral-900: #2F2E2C;

    /* Neutral Dark */
    --color-neutral-dark-100: rgba(16, 16, 16, 20%);
    --color-neutral-dark-200: rgba(16, 16, 16, 40%);
    --color-neutral-dark-300: rgba(16, 16, 16, 60%);
    --color-neutral-dark-400: rgba(16, 16, 16, 80%);
    --color-neutral-dark-500: rgba(16, 16, 16, 100%);
    --color-neutral-dark-600: #0D0D0D;
    --color-neutral-dark-700: #0A0A0A;
    --color-neutral-dark-800: #060606;
    --color-neutral-dark-900: #030303;

    /* ==========================================
     Success (Green)
  ========================================== */
    --color-success-100: rgba(67, 183, 93, 20%);
    --color-success-200: rgba(67, 183, 93, 40%);
    --color-success-300: rgba(67, 183, 93, 60%);
    --color-success-400: rgba(67, 183, 93, 80%);
    --color-success-500: rgba(67, 183, 93, 100%);
    --color-success-600: #399753;
    --color-success-700: #2F7749;
    --color-success-800: #26573F;
    --color-success-900: #1C3735;

    /* ==========================================
     Danger (Red)
  ========================================== */
    --color-danger-100: rgba(238, 68, 63, 20%);
    --color-danger-200: rgba(238, 68, 63, 40%);
    --color-danger-300: rgba(238, 68, 63, 60%);
    --color-danger-400: rgba(238, 68, 63, 80%);
    --color-danger-500: rgba(238, 68, 63, 100%);
    --color-danger-600: #C23B3B;
    --color-danger-700: #963237;
    --color-danger-800: #6A2933;
    --color-danger-900: #3E202F;

    /* ==========================================
     Warning (Yellow)
  ========================================== */
    --color-warning-100: rgba(255, 170, 0, 20%);
    --color-warning-200: rgba(255, 170, 0, 40%);
    --color-warning-300: rgba(255, 170, 0, 60%);
    --color-warning-400: rgba(255, 170, 0, 80%);
    --color-warning-500: rgba(255, 170, 0, 100%);
    --color-warning-600: #D08D09;
    --color-warning-700: #A06F11;
    --color-warning-800: #71521A;
    --color-warning-900: #413422;

    /* ==========================================
     Info (Blue)
  ========================================== */
    --color-info-100: rgba(0, 149, 255, 20%);
    --color-info-200: rgba(0, 149, 255, 40%);
    --color-info-300: rgba(0, 149, 255, 60%);
    --color-info-400: rgba(0, 149, 255, 80%);
    --color-info-500: rgba(0, 149, 255, 100%);
    --color-info-600: #047CD5;
    --color-info-700: #0763AA;
    --color-info-800: #0B4980;
    --color-info-900: #0E3055;
}

.clr-red-400 {
    color: #F16965;
}

.clr-blue-300 {
    color: #66BFFF;
}

.clr-23B05B {
    color: #23B05B;
}

.clr-DADADA {
    color: #DADADA;
}

.clr-DADADA-6 {
    color: rgba(218, 218, 218, 60%);
}

.clr-yellow-400 {
    color: #FFBB33;
}

.clr-primary-grn-400 {
    color: #4FC07C;
}

.clr-cat-brown {
    color: #C8AD98;
}

.bg-yellow-400 {
    background-color: #FFBB33;
}

.bg-red-400 {
    background-color: #F16965;
}

.bg-seconday-dark-900 {
    background-color: var(--color-secondary-dark-900);
}

.bg-6C6C6C-10 {
    background-color: rgba(108, 108, 108, 10%);
}

.border-white-24 {
    border: 1px solid rgba(233, 231, 221, 24%);
}

/* body  */
body {
    background-color: var(--color-secondary-900);
    font-family: var(--font);
}

a {
    text-decoration: none;
    transition: 0.5s ease-in-out;
}

.dashboard-outer {
    min-height: 100vh;
    display: flex;
}

.dashboard-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

/* typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
}

.f-64 {
    font-size: 64px;
    line-height: 1.3;
}

.f-56 {
    font-size: 56px;
    line-height: 1.3;
}

.f-48 {
    font-size: 48px;
    line-height: 1.3;
}

.f-40 {
    font-size: 40px;
    line-height: 1.3;
}

.f-32 {
    font-size: 32px;
    line-height: 1.3;
}

.f-28 {
    font-size: 28px;
    line-height: 1.3;
}


.f-24 {
    font-size: 24px;
    line-height: 1.3;
}

.f-22 {
    font-size: 22px;
    line-height: 1.3;
}

.f-20 {
    font-size: 20px;
    line-height: 1.3;
}

.f-18 {
    font-size: 18px;
    line-height: 1.3;
}

.f-16 {
    font-size: 16px;
    line-height: 1.3;
}

.f-14 {
    font-size: 14px;
    line-height: 1.3;
}

.f-12 {
    font-size: 12px;
    line-height: 1.3;
}

.f-10 {
    font-size: 10px;
    line-height: 1.3;
}

.f-9 {
    font-size: 9px;
}

.white-90 {
    color: rgba(233, 231, 221, 90%);
}

.white-80 {
    color: var(--color-neutral-400);
}

.gap-4 {
    gap: 4px;
}

.gap-5 {
    gap: 5px;
}

.gap-6 {
    gap: 6px;
}

.gap-7 {
    gap: 7px;
}

.gap-8 {
    gap: 8px;
}

.gap-9 {
    gap: 9px;
}

.gap-10 {
    gap: 10px;
}

.gap-11 {
    gap: 11px;
}

.gap-12 {
    gap: 12px;
}

.gap-14 {
    gap: 14px;
}

.gap-16 {
    gap: 16px;
}

.gap-17 {
    gap: 17px;
}

.gap-19 {
    gap: 19px;
}

.gap-22 {
    gap: 22px;
}

.gap-24 {
    gap: 24px;
}

.gap-30 {
    gap: 30px;
}

.gap-32 {
    gap: 32px;
}

.gap-34 {
    gap: 34px;
}

.gap-45 {
    gap: 45px;
}

.gap-48 {
    gap: 48px;
}

.d-flex {
    display: flex;
}

.p-24 {
    padding: 24px;
}

.p-3-16 {
    padding: 3px 16px;
}

.p-4-5 {
    padding: 4px 5px !important;
}

.p-5-11 {
    padding: 5px 11px;
}

.p-8-10 {
    padding: 8px 10px;
}

.p-16-24 {
    padding: 16px 24px;
}

.p-20-22 {
    padding: 20px 22px;
}

.p-32-22 {
    padding: 32px 22px;
}

.p-32-40 {
    padding: 32px 40px;
}

.p-32-48 {
    padding: 32px 48px;
}

.pt-8 {
    padding-top: 8px;
}

.p-10-21 {
    padding: 10px 21px;
}

.p-10-31 {
    padding: 10px 31px;
}

.p-11-29 {
    padding: 11px 29px;
}

.p-16-24 {
    padding: 16px 24px;
}

.p-32-32-48 {
    padding: 32px 32px 48px;
}

.pt-16 {
    padding-top: 16px;
}

.p-32 {
    padding: 32px;
}

.p-10-40 {
    padding: 10px 40px;
}

.p-15-24 {
    padding: 15px 24px;
}

.p-24-14 {
    padding: 24px 14px;
}

.p-28-14 {
    padding: 28px 14px;
}

.p-40-32 {
    padding: 40px 32px;
}

.p-0 {
    padding: 0;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

.card {
    border: 1px solid rgba(233, 231, 221, 24%);
    background-color: var(--color-secondary-900);
    border-radius: 12px;
}

.flex-col {
    flex-direction: column;
}

.card-header h3 {
    color: var(--color-neutral-300);
    font-weight: 400;
    letter-spacing: 4%;
}

.pt-10 {
    padding-top: 10px;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-2 {
    margin-bottom: 2px;
}

.mb-4 {
    margin-bottom: 4px;
}

.mb-5 {
    margin-bottom: 5px;
}

.mb-8 {
    margin-bottom: 8px;
}

.mb-10 {
    margin-bottom: 10px;
}

.mb-11 {
    margin-bottom: 11px;
}

.mb-12 {
    margin-bottom: 12px;
}

.mb-14 {
    margin-bottom: 14px;
}

.mb-15 {
    margin-bottom: 15px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-17 {
    margin-bottom: 17px;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-24 {
    margin-bottom: 24px;
}

.mb-28 {
    margin-bottom: 28px;
}

.mb-32 {
    margin-bottom: 32px;
}

.mb-40 {
    margin-bottom: 40px;
}

.mb-45 {
    margin-bottom: 45px;
}

.mb-48 {
    margin-bottom: 48px;
}

.mb-80 {
    margin-bottom: 80px;
}

.d-grid {
    display: grid;
}

.col-lg-2 {
    grid-template-columns: repeat(2, 1fr);
}

.col-lg-3 {
    grid-template-columns: repeat(3, 1fr);
}

.col-lg-4 {
    grid-template-columns: repeat(4, 1fr);
}

.col-lg-5 {
    grid-template-columns: repeat(5, 1fr);
}

.w-15 {
    width: 15px;
}

.w-21 {
    width: 21px !important;
}

.h-21 {
    height: 21px !important;
}

.w-30 {
    width: 30px;
}

.h-30 {
    height: 30px;
}

.h-15 {
    height: 15px;
}

.w-100 {
    width: 100%;
}

.w-auto {
    width: auto;
}

.m-fit-content {
    max-width: fit-content;
}


.w-250 {
    max-width: 250px;
}


p {
    color: var(--color-neutral-300);
}

.left-col p {
    color: var(--color-neutral-300);
}

.white {
    color: #E9E7DD;
}

.border-bottom-white-24 {
    border-bottom: 1px solid rgba(233, 231, 221, 24%);
}

.col-lg-4-6 {
    grid-template-columns: 40% 60%;
}

.col-lg-6-4 {
    grid-template-columns: 60% 40%;
}

.col-lg-7-3 {
    /* grid-template-columns: 70% 30%; */

    grid-template-columns: 7fr 3fr;
}

.mt-21 {
    margin-top: 21px;
}


.bg-gray {
    background: rgba(21, 121, 61, 8%);
    border-radius: 8px;
}

.bg-neutral-5 {
    background-color: rgba(233, 231, 221, 5%);
}

.bg-125D34 {
    background-color: #125D34;
}

.light-pink {
    background: #FC8D94;
}

.light-orange {
    background: #EDB37E;
}

.sea-green {
    background: #9DDDD5;
}

.light-purple {
    background: #92B0EA;
}

.peach {
    background: #C8AD98;
}

.bg-060F13 {
    background-color: #060F13;
}

.bg-0B1417 {
    background-color: rgba(11, 20, 23, 50%);
}

.bg-secondary-900 {
    background-color: var(--color-secondary-900);
}

.bg-10181C {
    background-color: #10181C;
}

.btn-green-outlined {
    border: 1px solid var(--color-primary-400);
    color: var(--color-primary-400);
}


.btn-yellow-outlined {
    border: 1px solid #FFBB33;
    color: #FFBB33;
}

.blue {
    color: var(--color-info-300);
}

.border-E9E7DD-24 {
    border: 1px solid rgba(233, 231, 221, 24%);
}

.border-B0B7CA-40 {
    border: 1px solid rgba(176, 183, 202, 40%);
}

.border-E9E7DD-40{
    border: 1px solid rgba(233, 231, 221, 40%);
}

.center {
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.bg-blue {
    background-color: rgba(53, 102, 116, 15%);
}

.br-3 {
    border-radius: 3px;
}

.br-4 {
    border-radius: 4px !important;
}

.br-6 {
    border-radius: 6px;
}

.br-8 {
    border-radius: 8px;
}

.br-9 {
    border-radius: 9px;
}

.br-11 {
    border-radius: 11px;
}

.br-12 {
    border-radius: 12px;
}

.br-16 {
    border-radius: 16px;
}

.br-48 {
    border-radius: 48px;
}

.br-100 {
    border-radius: 100%;
}

.bg-E9E7DD-4 {
    background-color: rgba(233, 231, 221, 4%);
}

.bg-E9E7DD-5 {
    background-color: rgba(233, 231, 221, 5%);
}

.bg-blue {
    background-color: rgba(53, 102, 116, 15%);
}

.bg-23B05B {
    background-color: #23B05B;
}


.bg-e9e7dd1a {
    background-color: #e9e7dd1a;
}

.btn {
    border-radius: 34px;
}

.btn-red {
    background-color: var(--color-danger-600);
    color: #EBF0F1;
}

.btn-F58F8C {
    color: #F58F8C;
    border: 1px solid #F58F8C;
    background-color: rgba(245, 143, 140, 15%);
}

.b-0 {
    border: none;
}

.bg-neutral-10 {
    color: rgba(233, 231, 221, 10%);
}

.neutral-300 {
    color: var(--color-neutral-300);
}

.neutral-80 {
    color: var(--color-neutral-400);
}

.success-300 {
    color: var(--color-success-300);
}

.lh-10 {
    line-height: 10px;
}

.lh-11 {
    line-height: 11px;
}

.lh-12 {
    line-height: 12px;
}

.lh-14 {
    line-height: 14px;
}

.lh-16 {
    line-height: 16px;
}

.lh-18 {
    line-height: 18px;
}

.lh-20 {
    line-height: 20px;
}

.lh-22 {
    line-height: 22px;
}

.right {
    text-align: right;
}

.ls-4 {
    letter-spacing: 0.04px;
}